<link href="/assets/page.css" rel="stylesheet" type="text/css">
<div id="about">
  <img src="/assets/wcp.jpg">
 <h2> About Us</h2>
Business intelligence (BI) is a broad category of applications and technologies for gathering, storing, analyzing, and providing access to data to help enterprise users make better business decisions. BI applications include the activities of decision support systems, query and reporting, online analytical processing (OLAP), statistical analysis, forecasting, and data mining.

The Business Intelligence Laboratory is researching in many kinds of methods and systems in order to help enterprises improving some indexs.
</div>