<link href="/assets/page.css" rel="stylesheet" type="text/css">
<div id="about">
  <img src="/assets/wcp.jpg">
 <h2> About Us</h2>
Dr. Chen will be a featured speaker at the upcoming Interdisciplinary Conference on Cybercrime, March 20, 2014, at Michigan State University.

AZSecure: A new grant of $4,227,306 has been awarded to PI Hsinchun Chen from the National Science Foundation to create a new cybersecurity scholarship program at the University of Arizona entitled: “Cybersecurity Scholarship-for-Service at The University of Arizona” (AZSecure). Initial funding is for $2,405,882 for 2013-2015, with additional funding earmarked for 2016 and 2017 (NSF DUE #1303362). Co-PIs are Dr. Salim Hariri (ECE); Dr. Mark Patton (MIS), and Dr. Paulo Goes (MIS). The program intends to help address the great need for security training in the U.S. by increasing interest in and technological competence for government service and by helping to broaden representation in science and technology. The curriculum includes dedicated coursework and significant research experience in the areas of security and risk management, operations security, information security risk management, and security management practices. Students accepted into the program will, in addition to their coursework and research, complete a summer internship and also work in a government agency following graduation for a period of time equal to their scholarship enrollment. [Link to NSF abstract] 
- September 2013

HackerWeb: A new grant of $1,190,722 has been awarded to PI Hsinchun Chen from the National Science Foundation for “Securing Cyber Space: Understanding the Cyber Attackers and Attacks via Social Media Analytics” (Hacker Web) (NSF SES #1314631). Co-PIs are Dr. Salim Hariri (UA; ECE); Dr. Ronald Breiger (UA; Sociology); and Dr. Tom Holt (MSU; Criminology). The HackerWeb project aims to investigate important questions regarding hacker behavior, markets, and community structure, among other things. The resulting integrated computational framework and associated algorithms and software will also allow social science researchers and security practitioners to closely examine how cyber attacker groups form, develop, and spread their ideas. [Link to NSF abstract]
- September 2013
</div>
